<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.lakala.cloudpos.customService">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application>

        <activity
            android:name="com.lakala.appcomponent.customService.WebViewActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:process=":service"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Holo.Light.NoActionBar"
            android:windowSoftInputMode="adjustResize" />

    </application>

</manifest>
